* {
	box-sizing: border-box;
	outline: 0;
	font-family: 'CG Omega', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

main {
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 45%;
}

img {
	max-width: 40%;
	height: auto;
}

h1,
h2,
p {
	font-size: 14px;
}

a {
	color: green;
}
